

<script>
    function submitBtnPressed()
     {
         console.log("aa");
         document.getElementById("onSubmitText").innerText="A code is sent to you, please check your email.";
     };
       
 </script>
<div style="margin: 5%;">
    <h1>Forgot Password</h1>

    <br>
    <br>

    <form class="form-group border">
        <label type="email" for="email" class="emailLabel">Email</label><br>
        <br>
        <input type="email" class="form-control-lg" placeholder="Enter the email ">
        
        <br><br><br>
        <div class="d-flex">
            <label for="submit"></label><br>
            <input class="form-control-lg btn btn-secondary" type="submit" required="true"><br><br>
    
            <div class="container ms-20">
                <p>Remember Password?</p>
                <nav></nav>
                <a class="cursor text-info" (click)="onNavigateTo(1)">Login</a>
            </div>
        </div>
        

    </form>
    <div  ><p id="onSubmitText"></p></div>
</div>

<!-- (click)="onNavigateTo(1)" -->
