
=======
<script>
    function submitBtnPressed()
     {
         console.log("aa");
         document.getElementById("onSubmitText").innerText="A code is sent to you, please check your email.";
     };
       
 </script>
<div style="margin: 5%;">
    <h1>Forgot Password</h1>

    <br>
    <br>

    <form class="form-group border">
        <label type="email" for="email" class="emailLabel">Email</label><br>
        <br>
        <input type="email" class="form-control-lg" placeholder="Enter the email ">
        
        <br><br><br>
        <input id="submitBtn" class="form-control-lg btn btn-secondary" value="Submit" type="submit" onclick="submitBtnPressed"/>
        

    </form>
    <div  ><p id="onSubmitText"></p></div>
</div>

=======
<p>forget-password works!</p>
