

.btn{
    background-color:gray;
    width: 100%;
    opacity: 70%;
    font-weight: 600;
    color:white;
    outline: black;
    opacity: 70%;
    padding:3%;
}

.inputField{
    width: 100%;
    border: 1px  solid;
    padding: 10px;
    background-color: gray;
    opacity: 70%;
    margin-bottom: 10px;
    border-radius: 5px;
}


.btn:hover{
    background-color: rgba(0, 0, 0, 0.661);
    color:white;
    border: 2px blue solid;


}



.btn-submit{
    background-color:white;
    color:black;
    opacity: 100%;
}

.parent{
    /* From https://css.glass */
background: rgba(201, 183, 183, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(201, 183, 183, 0.57);
}

