<div style="margin: 5%;">
    <h1>Signup</h1>
    <form class="form-group">
        <label for="name">Name</label><br>
        <input class="form-control-lg" type="text" required="true"><br><br>

        <label for="Email">Email</label><br>
        <input class="form-control-lg" type="email" required="true"><br><br>

        <label for="New Password">New Password</label><br>
        <input class="form-control-lg" type="password" required="true"><br><br> 

        <label for="confirmPassword">Confirm Password</label><br>
        <input class="form-control-lg" type="password" required="true"><br><br> 

       <div class="d-flex">
        <label for="submit"></label><br>
        <input class="form-control-lg btn btn-secondary" type="submit" required="true"><br><br>

        <div class="container ms-20">
            <p>Already have an account?</p>
            <a class="cursor text-info" (click)="onNavigateTo(1)">Login</a>
        </div>
       </div>

    </form>
</div>