table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin:10%;
    width: 50%;

    background-color: rgba(169, 169, 169, 0.638);
    color:white;
 
  }
  
  
  td, th {
    border: 1px solid #220e0e;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: white;
    color:black;
  }
  

  .error{
    border:solid 2px red;
  }



