*{
    text-align: center;
    font-size: medium;
}

.card{
    border:groove 4px rgb(248, 244, 225);
    
}


h1{
    font-size: large;
    
}

button:hover{
 background-color: white;
 color: slategray;
}