<div class="container m-5 "  >
<div class="row d-flex flex-wrap">
    <div *ngFor="let item of items | itemFilter : sharedS.filterCategoryText ;" class="col-lg-3 col-md-4">
        
            <div class="card my-3" >
                <h1 class="card-title" style="color:white;" >{{item.name}}</h1><br><br>
                <div class="card-block" >
                    <h4>{{item.price}} Rs.</h4>
                </div>
                <button type="button" class="ms-5 me-5 btn btn-secondary ">Add To Cart</button>
            </div>
        
    </div>
</div></div>