<div class="container-fluid justify-content-center">
    <h1 class=".text-center">Login Form</h1><br>
    <form class="form-group border">
        <label for ="Email" ></label><br>
        <input name="Email" class="form-control-lg" placeholder="name@example.com" required="true" type="email"/><br><br>

        <label for="Password">Password</label><br>
        <input name="Password" class="form-control-lg"  required="true" type="password"/><br><br>

        <button type="submit" id="submitbtn" class="btn btn-secondary">Submit</button>
    </form>
</div>
