<div    style="max-width: 20%; min-width: 300px;" class="d-flex border border-2 border-secondary rounded  justify-content-center align-items-center mx-auto mt-5 pb-3 pt-3 parent">
    <div   class="container pt-5 p-3 text-center">
        <h1 class="text-center">Login Here</h1><br>
        <form  #loginForm="ngForm" (ngSubmit)="onLogin()" class="form-group justify-content-center align-items-center">
            <label for ="Email"  style="text-align:left;">Email</label><br>
            <input name="Email" class="inputField"  placeholder="Email" required="true" type="email"  name="userEmail" [(ngModel)]="user.email" />

            <label for="Password">Password</label><br>
            <input name="Password" class="inputField" placeholder="Password" required="true" type="password" name="userPassword"  [(ngModel)]="user.password"/>
          
            <button type="submit" id="submitbtn" class="btn btn-submit btn-secondary" style="width:100%">Submit</button>
            <div class="d-flex mt-3 justify-content-center text-center">
                <button  class="btn me-3 " (click)="onnaviagteto(1)"  >Forget Password</button>
                <button class="btn " (click)="onnaviagteto(2)"  >Signup</button>
            </div>
    
        </form>
    </div>
</div>