<div class="container mt-5" style="color:white;">
    <h1>Item Info</h1>
    <br><br>

    <form #itemForm="ngForm"  (ngSubmit)= " itemForm.valid ? item.id == undefined ?  onSave(): onUpdateItem() : checkValidation()" >
        <div class="form -group">
        <label>Item Name(20 characters max): </label>
        <input type="text" value={{item.name}} maxlength="20" #name="ngModel" required name="itemName" [(ngModel)]="item.name" class="form-control"
        [class.is-invalid]="name.touched && name.invalid"
        >
        <small [class.d-none]="name.valid || name.untouched" style="color:red; font-style: italic;">Name is required!!</small>
        <br><br>
       <label>Item Price(20 digits max): </label>
        <input type="number" value={{item.price}} #price="ngModel" min="0" required  name="itemPrice" [(ngModel)]="item.price" class="form-control"  
         [class.is-invalid]="price.touched && price.invalid">
         <small [class.d-none]="price.valid || price.untouched" style="color:red; font-style: italic;">Price is required and must be greater than zero!</small>
        <br><br>

        <label>Select Category</label><br><br>

       <select name="category" #category="ngModel" value={{item.category}} [(ngModel)]="item.category"  required class="form-control" [class.is-invalid]="category.touched && category.invalid">

        <option *ngFor="let cat of _sharedService.categories" [value]="cat.categoryName">
            {{cat.categoryName}}
        </option>
       </select>
       <small [class.d-none]="category.valid || category.untouched" style="color:red; font-style: italic;">You must select a category!</small>
       <br>

       </div>
       <button class="btn-primary" type="submit" >{{item.id==undefined?'Submit':'Update'}} </button>
    </form>



<table class="mt-1 table-responsive mx-auto" style="width: max-content; align-self: center; align-items: center; text-align: center; ">
    <thead>
        <tr>
            <th>Item Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of _sharedService.items; ">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.name }}
            </td>
            <td>
                {{item.category }}
            </td>
            <td>
                {{item.price }}
            </td>
            <td class="cursor" style="color:blue; font-size: smaller;">

                <a (click)="UpdateItem(item)">Update|</a>
                <a (click)="DeleteItem(item)">Delete</a>
            </td>

        </tr>
    </tbody>

</table></div>
