<div class="container">
    <h1>Add Item</h1>

    <!-- itemForm.valid ? ( item.id == undefined ?  saveItem(): onUpdateItem()) : checkValidation()" -->
    <form #itemForm="ngForm"  (ngSubmit)="onSubmit()">
        <div class="form -group">
        <label>Item Name(20 characters max): </label>
        <input type="text" maxlength="20" minlength="5" [ngClass]="item.name == undefined ? 'error':''" required name="itemName" [(ngModel)]="item.name" class="form-control" ngModel> 
       
       <label>Item Price(20 digits max): </label>
        <input type="number"  min="0" minlength="1" [ngClass]="item.price == undefined ? 'error':''" required name="itemPrice" [(ngModel)]="item.price" class="form-control" ngModel> 
       
       <!-- <label>Item Category(Required):  </label>
        <input type="text" maxlength="20" minlength="5" [ngClass]="item.category == undefined ? 'error':''" required name="itemCategory" [(ngModel)]="item.category" class="form-control" ngModel> 
       </div> -->
      

     
       <select (change)="onCategorySelect($event)">
        <option *ngFor="let cat of _sharedService.categories" [value]="cat.categoryName">
            {{cat.categoryName}}
        </option>
       </select>



       </div>
       <button class="btn-primary" type="submit" >Submit </button>
    </form>

</div>
<!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Created On</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of _sharedservice.categories">
            <td>
                {{category.categoryName}}
            </td>
            <td>
                {{category.createdOn | date: 'dd-LLLL-YYYY'}}
            </td>
            <td>
                {{category.createdOn | date: 'hh:mm  a'}}
            </td>
            <td style="color:blue; font-size: smaller;">
                <a>View|</a>
                <a (click)="updateCategory(category)">Update|</a>
                <a (click)="deleteCategory(category)">Delete|</a>
            </td>

        </tr>
    </tbody>

</table> -->