/* You can add global styles to this file, and also import other style files */
.cursor{
    cursor: pointer;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(247, 247, 244);
    font-style: normal;
    font-weight: 200;
}
h1,h2{
    font-weight:bolder ;
}

